.DetailsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ccffcc;
  padding: 20px;
}

.counter-box {
  text-align: center;
  margin-bottom: 40px;
}

.count {
  font-size: 48px;
  font-weight: bold;
  color: #006600;
  margin-bottom: 20px;
}

.counter-controls {
  display: flex;
  align-items: center;
}

.counter-btn {
  margin: 0 20px;
  padding: 20px;
  font-size: 24px;
  background-color: #006600; /* Dark green */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.counter-btn:hover {
  background-color: #004d00; /* Darker green */
}

.tic-tac-toe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust this value to lift the content upward */
}

.reset-btn {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  background-color: #006600; /* Dark green */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.reset-btn:hover {
  background-color: #004d00; /* Darker green */
}
